@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  html{
   @apply scrollbar-hide;

  }
  
  body{
    @apply bg-black
  }

 .btn{
   @apply bg-orange-700 text-white px-3 py-2 rounded-md hover:bg-white hover:text-black hover:scale-110 transition duration-100 ease-in-out sm:text-[16px];
 }

 .btn-red{
  @apply bg-red-700 hover:bg-black hover:text-white hover:scale-110 transition duration-100 ease-in-out;
 }

 .nav li{
   @apply uppercase hover:scale-125 cursor-pointer transition duration-100 ease-in-out sm:mb-10;
 }

 .blend-cards{
    @apply h-80 w-80 rounded-full mix-blend-multiply hover:scale-110 transition duration-300 ease-in-out flex items-center justify-center lg:h-64 lg:w-64 md:h-56 md:w-56;
 }

    /* width */
    div ::-webkit-scrollbar {
      width: 10px;
    }
  
    /* Track */
    div ::-webkit-scrollbar-track {
      /* box-shadow: inset 0 0 5px grey; */
      border-radius: 10px;
    }
  
    /* Handle */
    div ::-webkit-scrollbar-thumb {
      background: rgb(68, 65, 65);
      border-radius: 10px;
    }
  
    /* Handle on hover */
    div ::-webkit-scrollbar-thumb:hover {
      background: black;
    }

    h3{
      @apply text-4xl text-orange-700 font-bold xxs:tracking-wide;
    }

    p{
      @apply leading-10;
    }

    /* .backg{
      background: url('./images/background.jpg');
    } */

    .skills-container img{
       @apply w-1/5 bg-neutral-900 rounded-full p-5 mx-3 hover:scale-110 transition duration-300 ease-in-out md:w-1/3 md:m-4 sm:w-1/2;
    }

    input{
      @apply h-12 px-1 my-4 text-white outline-none bg-neutral-900 border-b-2 hover:border-orange-700 transition duration-300 ease-in-out;

    }

    a img{
      @apply w-10 hover:scale-125 transition duration-300 ease-in-out;
    }

    .leetcode{
      @apply bg-indigo-800 rounded-full p-1;
    }

    h4{
      @apply text-orange-700 text-[18px] mt-1 font-bold; 
    }

    h5{
      @apply font-bold text-[16px] text-orange-700;
    }

    .contact-container img{
        @apply w-5 h-5 inline-block;
    }

    .contact-container p{
      @apply leading-7;
    }

    .project-container p{
      @apply text-[14px] leading-6;
    }

    .project-container span{
      @apply my-1 text-[12px] font-bold;
    }

    .project-container img{
      @apply rounded-lg mt-1 mb-4 h-[280px] lg:h-[320px] sm:h-60 md:h-60 xxs:h-48 w-full;
    }

    .project-container div{
      @apply bg-neutral-900 h-full rounded-lg p-6 hover:scale-105 transition duration-300 ease-in-out;
    }

}